/* MainLayout styles */
.main-layout {
  font-family: monospace;

  padding-top: 160px;
}

/* Header styles */
.header {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #0977be;
}
.header > .title {
  color: white;
  font-size: 3em
}

/* GamePage styles */
.game-page > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

/* StartGameForm styles */
.start-game-form {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;

  padding-top: 20px;
}
.start-game-form > button {
  margin-bottom: 50px;
}

input {
  box-sizing: border-box;
  width: 310px;
  height: 60px;

  margin: 20px 0;
  font-size: 1.7em;
  text-align: center;
  border: solid 1px grey;
  padding: 5px;
}
button {
  width: 310px;
  height: 60px;

  font-size: 1.7em;
  border: none;
  color: white;
  background-color: rgb(136, 136, 152);
}

/* AddWordsPage form */
.add-words-page > h1 {
  margin-top: 30px;
  margin-bottom: 5px;

  font-size: 2.2em;
}
.add-words-page > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;

  margin-top: 0;
  margin-bottom: 25px;

  font-size: 1.5em;
}
.add-words-page > ul > li {
  margin: 7px 0;
}
.add-words-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Select team */
@media (max-width: 414px) {
  .header {
    height: 100px;
  }
  .main-layout {
    padding-top: 100px;
  }
  .select-team > .red-team, .select-team > .blue-team, .game-page > div {
    width: 100%;
  }

  .submit-words {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;

    color: green;
    background-color: rgb(85, 214, 109);
  }

  .words-to-add {
    position: fixed;
    top: 330px;
    bottom: 50px;
    overflow: scroll;
    max-width: 90%;
    height: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .start-turn {
    position: fixed;
    bottom: 0;
    width: 100%;

    color: green;
    background-color: rgb(85, 214, 109);
  }
}
@media (max-width: 320px) {
  input, button {
    width: 90%;
  }
  .turn-page > p {
    font-size: 2em;
    margin: 50px auto !important;
  }

  .game-summary > div:last-child {
    font-size: 1.3em !important;
  }
}
.select-team > .red-team, .select-team > .blue-team {
  border: solid 1px;
  height: 150px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7em;
  color: white;
}
.red-team {
  background-color: #851414;
}
.blue-team {
  background-color: #112c8c;
}
.select-team > .or-separator {
  font-size: 1.7em;
  margin: 15px 0;
}

/* Game summary */
.scores {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
.red-score > h1, .blue-score > h1 {
  margin-bottom: 7px;
}
.red-score > div, .blue-score > div {
  font-size: 1.7em;
}
.round-type {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border: dashed 1px gray;
}
.game-summary > div:last-child {
  font-size: 1.5em;
  text-align: center;
}

.timer {
  font-size: 6em;
  margin-top: 30px;
  padding: 10px;
  border: dashed gray;
}

.turn-page > p {
  font-size: 2em;
  margin: 100px auto;
}
.turn-page > button {
  margin-bottom: 20px;
  border: none;
}
.turn-page > .skip {
  color: red;
  background-color: rgb(156, 17, 12);
}

.turn-page > .correct {
  color: green;
  background-color: rgb(85, 214, 109);
}
